* {
    background-color: rgb(32, 51, 108);
    color: white;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --dark:  rgba(0, 0, 0, 0.5);
}

header h1 {
    margin-top: 80px;
    padding: 40px;
    font-size: 3rem;
    text-align: center;
}

.portrait {
    border-radius: 100px;
    margin: 0 auto;
    display: block;
}

nav {
    margin-right: 20px;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    float: right;
    background-color: var(--dark);

}

nav ul {
    background-color: var(--dark);
    right: 30px
}

nav ul li {
    display: inline;
    float: right;
    margin: 10px;
    font-size: 25px;

}

nav ul li a {
    background-color: var(--dark)
}

#About {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 25px;
    max-width: 25%;
    margin: 30px 0 0 38%;
}

.guide {
    width: 500px;
    margin: 20px auto;
    display: block;
    height: 400px;
    width: 500px;
    border-radius: 15px;
}

.project {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    display: block;
    border-radius: 15px;
}

#Work h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

#Work h3 {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

#Work img:hover {
    border:double 10px rgba(255, 0, 0, 0.397);
}

#Contact h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
}

pre {
    margin-top: 20px;
}

.git {
    max-width: 40px;
    max-height: 40px;
    margin-top: 15px;
}
